server {
    listen 80;

    # root directory for serving static files, there we'll copy our dist from Vue
    root /usr/share/nginx/html;
    index index.html;

    # logic of processing uri at specific location
    location / {
        # fall back strategy
        try_files $uri $uri/ /index.html;
    }
}